<Context path="/crowd" docBase="/opt/crowd/webapp" reloadable="false">
  <Resource name="jdbc/CrowdDS"
            auth="Container"
            type="javax.sql.DataSource"
            username="\(.crowd.user)"
            password="\(.crowd.password)"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://\(.crowd.host):\(.crowd.port)/\(.crowd.database)?autoReconnect=true&amp;characterEncoding=utf8&amp;useUnicode=true"
            maxTotal="30"
            maxIdle="4" />
</Context>
