<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>redirector</servlet-name>
        <servlet-class>com.dwolla.j2ee.RedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>redirector</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
